.slide-intro {
  position: relative;
  swiper-slide {
    height: 690px;
  }
}
.bestpd {
  display: flex;
  flex-direction: column;
  height: 390px;
  background: $primary;
}
.slide-bestpd {
  @include flex;
  flex-wrap: wrap;
  .swiper-slide {
    width: 200px;
    @include flex;
  }
  a {
    display: block;
    width: 156px;
    height: 156px;
  }
  img {
    display: block;
    object-fit: contain;
    width: 100%;
    height: 100%;
  }
  .bestpd-list {
    display: flex;
  }
}
.bestpd-wrap {
  @include flexSpaceBetween;
  flex-direction: column;
  text-align: center;
  width: 200px;
  height: 225px;
}
.newpd {
  height: 726px;
  background: $white;
}
