@import "variables", "mixins", "fonts", "reset";

body {
  background: url(../../images/main/main1_cc.png) no-repeat 0 0;
  opacity: 0.7;
}
.wrap {
  display: flex;
  flex-direction: column;
  min-height: 200vh;
}

#header {
  position: fixed;
  width: 100%;
  height: $hdH;
  z-index: 1100;
}

.inner {
  position: relative;
  width: 100%;

  #logo {
    @include flex;
    margin: 16px;
  }
  .col_right {
    position: absolute;
    top: 0;
    right: 0;
  }
}

@import "main";
