@charset "UTF-8";
@font-face {
  font-family: "Memento";
  font-weight: 700;
  src: url(../fonts/Memento\ Bold.woff) format("woff");
}
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
textarea,
p,
blockquote,
th,
td,
input,
select,
button {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

fieldset,
img {
  border: 0 none;
}

dl,
ul,
ol,
menu,
li {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

input,
select,
textarea {
  font-size: 100%;
  vertical-align: middle;
}

#u-skip {
  position: relative;
  z-index: 3000;
}
#u-skip a {
  position: absolute;
  top: -35px;
  left: 0;
  right: 0;
  display: inline-block;
  padding: 7px 10px 5px;
  background: #333;
  color: #fff;
  text-decoration: none;
  text-align: center;
  opacity: 0;
}
#u-skip a:focus {
  top: 0;
  opacity: 1;
  z-index: 1000;
}

button {
  font-size: 100%;
  vertical-align: middle;
  border: 0 none;
  background-color: transparent;
  cursor: pointer;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  -webkit-text-size-adjust: none;
  font-family: "Noto Sans KR", sans-serif, "";
}

.blind,
caption,
legend {
  overflow: hidden;
  position: absolute;
  width: 0;
  height: 0;
  line-height: 0;
  text-indent: -9999px;
}

body {
  position: relative;
  height: 100%;
}

.wrap {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  height: 100%;
}

@media screen and (min-width: 1280px) {
  .wrap {
    max-width: none;
  }
}
#header {
  position: fixed;
  width: 100%;
  height: 50px;
  z-index: 1200;
}

.inner.header {
  position: relative;
}

#logo {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: row;
}
#logo a {
  display: flex;
  justify-content: center;
  position: absolute;
  z-index: 1200;
  padding: 16px 0;
}
#logo a svg {
  height: 16px;
}

.col_center {
  display: none;
}

.col_right {
  position: absolute;
  top: 0;
  right: 0;
  height: 50px;
}

.gnb-wrap {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: row;
  height: 50px;
  margin: 0 16px;
}
.gnb-wrap .input-burger {
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 0;
}
.gnb-wrap .input-burger:checked + .label-burger .bar:first-child {
  transform: rotate(45deg) translate(4.5px, 3px);
}
.gnb-wrap .input-burger:checked + .label-burger .bar:nth-child(2) {
  display: none;
}
.gnb-wrap .input-burger:checked + .label-burger .bar:nth-child(3) {
  transform: rotate(-45deg) translate(1px, 0px);
}
.gnb-wrap .input-burger:checked ~ #gnb {
  left: 0;
}

.label-burger {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1200;
  gap: 4px;
}
.label-burger .bar {
  display: block;
  width: 20px;
  height: 2px;
  border-radius: 2px;
  background: #000;
  transition: all 0.3s;
}

#gnb {
  position: fixed;
  top: 0;
  left: 100%;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  padding-top: 120px;
  width: 100%;
  background: #fff;
  z-index: 1100;
}

@media screen and (min-width: 1280px) {
  #header {
    max-width: none;
    height: 80px;
  }
  .fixed-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(6px);
  }
  .inner.header {
    position: static;
    display: flex;
    justify-content: space-between;
    height: 80px;
    padding: 35px 80px;
  }
  #logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
  }
  #logo a {
    z-index: 1200;
    padding: 0;
  }
  #logo a svg {
    height: 25px;
  }
  .col_center {
    position: relative;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .gnb-desktop.menu {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .gnb-desktop.menu > li {
    position: relative;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: row;
    margin: 0 60px; /* 각 메뉴 아이템 사이의 간격 조절 */
  }
  .gnb-desktop.menu a {
    display: flex;
    flex-direction: row;
    text-decoration: none;
    padding: 7px 0;
    color: #111; /* 링크 색상 설정 */
  }
  /* 서브메뉴 스타일링 */
  .gnb-desktop.menu.submenu {
    display: none; /* 초기에는 서브메뉴 숨김 */
    position: absolute;
    top: 100%; /* 부모 메뉴의 하단에 배치 */
    background-color: white; /* 서브메뉴 배경색 설정 */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* 그림자 효과 추가 */
  }
  .gnb-desktop.menu.submenu a {
    white-space: nowrap;
  }
  .gnb-desktop.menu li:hover .submenu {
    display: flex;
    flex-direction: column;
  }
  .col_right {
    height: 80px;
  }
  .gnb-wrap {
    height: 80px;
  }
}
#footer {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: row;
  text-align: center;
  font-size: 10px;
  width: 100%;
  margin-top: 7.5rem;
}
#footer .ft-wrap {
  display: block;
}
#footer li {
  margin: 5px 0;
}
#footer .ft {
  display: flex;
  flex-direction: column;
  font-family: "Memento";
}
#footer .ft .menu {
  margin: 16px 0;
}
#footer .contact :first-child {
  color: #333;
  font-size: 18px;
}
#footer .contact :nth-child(2) {
  color: #666;
  font-size: 16px;
}
#footer .contact :nth-child(3) {
  color: #666;
  font-size: 14px;
}
#footer .ft-menu-tit {
  font-size: 16px;
}
#footer .ft-menu-tit::after {
  content: "";
  margin: 3px auto;
  border-bottom: 1px solid #333;
  width: 100px;
}
#footer .terms {
  flex-direction: row;
  justify-content: center;
  gap: 7px;
}
#footer .ft .ft-menu {
  display: flex;
  flex-direction: column;
}
#footer .ft .ft-menu li {
  font-size: 12px;
}

.subtit {
  z-index: 1000;
  font-family: Memento;
  font-size: 22px;
  padding: 16px;
}

.slide {
  --swiper-theme-color: #ff0000;
  position: relative;
}
.slide .swiper-slide::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(rgba(255, 31, 31, 0.2) 0%, rgba(255, 31, 31, 0.15) 25%, rgba(255, 31, 31, 0.1) 50%, #f8f5f0);
}
.slide .swiper-slide {
  height: 690px;
}
.slide .slide-info {
  position: absolute;
  bottom: 0;
  left: 0;
  padding-bottom: 100px;
  padding-left: 16px;
}
.slide img {
  height: 690px;
  width: 100%;
  object-fit: cover;
  object-position: 50% 0;
}

@media screen and (min-width: 1280px) {
  .slide-info {
    position: absolute;
    bottom: 0;
    left: 0;
    padding-bottom: 100px;
    padding-left: 16px;
  }
  .slide-info img {
    height: auto;
  }
}
.bestpd .inner {
  padding: 20px 0;
  background: #f8f5f0;
}

.slide-bestpd {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: row;
  height: 390px;
  flex-wrap: wrap;
  align-content: center;
}
.slide-bestpd .swiper-wrapper {
  align-items: center;
  padding: 0 16px;
  width: 100%;
}
.slide-bestpd .swiper-slide {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: row;
  position: relative;
}
.slide-bestpd a {
  display: block;
  height: 156px;
}
.slide-bestpd img {
  display: block;
  object-fit: contain;
  width: 100%;
  height: 100%;
}
.slide-bestpd .bestpd-list {
  display: flex;
}

.bestpd-wrap {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: row;
  flex-direction: column;
  text-align: center;
  width: 100%;
}

.bestpd-dt .bestpd-name {
  font-weight: 500;
  color: #111;
  margin: 14px 0px;
}
.bestpd-dt .bestpd-info {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: row;
  font-size: 12px;
  font-weight: 400;
  color: #666;
}
.bestpd-dt .bestpd-info :nth-child(1)::after {
  content: "";
  padding-right: 5px;
  border-right: 1px solid #d9d9d9;
  margin-right: 5px;
  height: 8px;
}
.bestpd-dt .bestpd-info :nth-child(2)::after {
  content: "";
  padding-right: 5px;
  border-right: 1px solid #d9d9d9;
  margin-right: 5px;
  height: 8px;
}

.bestpd-hidden {
  display: none;
}

@media screen and (min-width: 1280px) {
  .bestpd .inner {
    padding: 20px 80px;
  }
  .bestpd-wrap {
    height: auto;
  }
  .bestpd-name {
    font-size: 18px;
  }
  .bestpd-name .bestpd-info {
    font-size: 14px;
  }
  .bestpd-btn {
    opacity: 0;
  }
  .bestpd .swiper-slide :hover {
    background: rgba(211, 211, 211, 0.5);
  }
  .bestpd .swiper-slide :hover .bestpd-wrap, .bestpd .swiper-slide :hover img, .bestpd .swiper-slide :hover a, .bestpd .swiper-slide :hover .bestpd-hidden, .bestpd .swiper-slide :hover .bestpd-price, .bestpd .swiper-slide :hover p, .bestpd .swiper-slide :hover span {
    background: rgba(255, 255, 255, 0);
  }
  .bestpd .swiper-slide :hover img {
    transform: translateY(-15%) scale(1.05);
    transition: opacity 0.3s ease-in;
  }
  .bestpd .swiper-slide :hover .bestpd-dt {
    display: none;
  }
  .bestpd .swiper-slide :hover .bestpd-hidden {
    display: block;
    opacity: 1;
    transition: opacity 0.3s ease;
  }
  .bestpd .swiper-slide :hover .bestpd-hidden .bestpd-price {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: row;
    position: absolute;
    width: 100%;
    margin-top: 7.5px;
  }
  .bestpd .swiper-slide :hover .bestpd-hidden .bestpd-price p {
    font-size: 14px;
    font-weight: 400;
  }
  .bestpd .swiper-slide :hover .bestpd-hidden .bestpd-price span {
    padding-right: 5px;
    border-right: 1px solid #666;
    margin-right: 5px;
  }
  .bestpd .swiper-slide :hover .bestpd-hidden .bestpd-btn {
    position: absolute;
    width: 100%;
    padding: 20px 0;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    transition: opacity 0.3s ease;
    background-color: #333;
  }
  .bestpd .swiper-slide :hover .bestpd-hidden .bestpd-btn:hover {
    opacity: 1;
  }
  .bestpd .swiper-slide :hover .bestpd-hidden .bestpd-btn .atc {
    color: #fff;
    background: rgba(255, 255, 255, 0);
  }
}
.newpd {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: row;
  flex-direction: column;
  font-family: "Memento";
  font-size: 20px;
  background: #fff;
}
.newpd .inner {
  padding: 20px 0;
}
.newpd .newpd-bnr {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 28px;
}
.newpd .newpd-desktop {
  display: none;
}

.auto-scroll-wrap {
  margin-top: 50px;
}
.auto-scroll-wrap .splide {
  max-width: 430px;
  margin: auto;
  position: relative;
}
.auto-scroll-wrap .splide__arrow {
  -ms-flex-align: center;
  align-items: center;
  background: rgba(229, 221, 221, 0);
  border: 0;
  border-radius: 50%;
  cursor: pointer;
  display: -ms-flexbox;
  display: flex;
  height: 2em;
  -ms-flex-pack: center;
  justify-content: center;
  opacity: 0.7;
  padding: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 2em;
  z-index: 1;
}
.auto-scroll-wrap .splide__track {
  overflow: invisible;
}

.splide__slide {
  background: #fff;
}
.splide__slide img {
  width: 100%;
  object-fit: cover;
}
.splide__slide .newpd-dt {
  padding: 5px 0;
}
.splide__slide .newpd-name {
  padding: 5px 0;
  font-size: 13px;
}
.splide__slide .newpd-info {
  display: flex;
}
.splide__slide .newpd-info .price {
  display: flex;
  padding-top: 10px;
  font-size: 14px;
}
.splide__slide .newpd-info p {
  color: #111;
  font-size: 11px;
}

@media screen and (min-width: 1280px) {
  .newpd .inner {
    padding: 20px 0;
  }
  .newpd .newpd-bnr {
    display: none;
  }
  .newpd .subtit {
    padding-left: 80px;
  }
  .newpd .newpd-desktop {
    display: flex;
    flex-direction: column;
  }
  .newpd .newpd-desktop .eggpurfume {
    position: relative;
    width: 100%;
    height: 200vh;
  }
  .newpd .newpd-desktop .body {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
    height: 380.25px;
    object-fit: contain;
  }
  .newpd .newpd-desktop .lid {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    height: 332px;
    object-fit: contain;
  }
  .newpd .newpd-desktop .full {
    display: none;
    height: 432px;
    object-fit: contain;
  }
  .newpd .newpd-desktop .background {
    position: absolute;
    bottom: 0%;
    left: 0%;
  }
  .newpd .newpd-desktop .name, .newpd .newpd-desktop .dt {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: row;
  }
  .newpd .newpd-desktop .name .title {
    font-size: 60px;
    padding: 15px;
  }
  .newpd .newpd-desktop .name .titlefirst {
    position: fixed;
    top: 0;
    bottom: 0;
    margin: auto;
  }
  .newpd .newpd-desktop .name .titlesecond {
    position: fixed;
    top: 0;
    bottom: 0;
    margin: auto;
  }
  .newpd .newpd-desktop .name .titlethird {
    position: fixed;
    top: 0;
    bottom: 0;
    margin: auto;
  }
  .newpd .newpd-desktop .dt {
    flex-direction: column;
    font-size: 18px;
    text-align: center;
  }
  .newpd .newpd-desktop .dt p {
    margin-bottom: 5px;
  }
  .eggpurfume {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: row;
    flex-direction: column;
    height: 200%;
  }
  .eggpurfume .eggpurfume-element.background {
    width: 100%;
  }
}
.gift .inner {
  padding: 20px 0;
  background: #f8f5f0;
}

.slide-gift {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: row;
  height: 390px;
  background: #f8f5f0;
  flex-wrap: wrap;
  align-content: center;
}
.slide-gift .swiper-wrapper {
  align-items: center;
  padding: 0 16px;
  width: 100%;
}
.slide-gift .swiper-slide {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: row;
  height: 225px;
  flex-wrap: wrap;
}
.slide-gift a {
  height: 156px;
}
.slide-gift img {
  display: block;
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.gift-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  text-align: center;
  width: 100%;
  height: 225px;
}

.gift-dt .gift-name {
  margin: 14px 0px 16px 0;
}
.gift-dt .gift-info {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: row;
  font-size: 12px;
  color: #666;
}

.gift-hidden {
  display: none;
}

@media screen and (min-width: 1280px) {
  .gift .inner {
    padding: 20px 80px;
  }
  .gift-wrap {
    position: relative;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: row;
    flex-direction: column;
    text-align: center;
    height: 390px;
  }
  .gift-btn {
    opacity: 0;
  }
  .gift .swiper-slide :hover {
    background: rgba(211, 211, 211, 0.5);
  }
  .gift .swiper-slide :hover .gift-wrap, .gift .swiper-slide :hover img, .gift .swiper-slide :hover a, .gift .swiper-slide :hover .gift-hidden, .gift .swiper-slide :hover .gift-price, .gift .swiper-slide :hover p, .gift .swiper-slide :hover span {
    background: rgba(255, 255, 255, 0);
  }
  .gift .swiper-slide :hover img {
    transform: translateY(-15%) scale(1.05);
    transition: opacity 0.3s ease-in;
  }
  .gift .swiper-slide :hover .gift-dt {
    display: none;
  }
  .gift .swiper-slide :hover .gift-hidden {
    display: block;
    opacity: 1;
    transition: opacity 0.3s ease;
  }
  .gift .swiper-slide :hover .gift-hidden .gift-price {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: row;
    position: absolute;
    bottom: 70px;
    left: 0;
    width: 100%;
    margin-top: 7.5px;
  }
  .gift .swiper-slide :hover .gift-hidden .gift-price p {
    font-size: 14px;
    font-weight: 400;
  }
  .gift .swiper-slide :hover .gift-hidden .gift-price span {
    padding-right: 5px;
    border-right: 1px solid #666;
    margin-right: 5px;
  }
  .gift .swiper-slide :hover .gift-hidden .gift-btn {
    position: absolute;
    width: 100%;
    padding: 20px 0;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    transition: opacity 0.3s ease;
    background-color: #333;
  }
  .gift .swiper-slide :hover .gift-hidden .gift-btn:hover {
    opacity: 1;
  }
  .gift .swiper-slide :hover .gift-hidden .gift-btn .atc {
    color: #fff;
    background: rgba(255, 255, 255, 0);
  }
}
.store-tit {
  position: static;
  margin: 20px 0;
}

.store .inner {
  background: #fff;
}
.store .swiper {
  margin: 0 auto;
  height: 60%;
}
.store .swiper-slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  font-weight: bold;
  color: #111;
}
.store img {
  object-fit: contain;
  height: 200px;
}
.store .store-dt {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  width: 82%;
}
.store .store-dt .store-name {
  font-size: 14px;
  font-weight: 500;
}
.store .store-dt .store-info {
  text-align: right;
  font-size: 12px;
  font-weight: 400;
}
.store .store-dt .store-info div {
  margin-bottom: 5px;
}
.store .store-search-wrap {
  display: flex;
  justify-content: flex-end;
  margin-right: 9%;
}
.store .store-search-wrap input {
  border-left-width: 0;
  border-right-width: 0;
  border-top-width: 0;
  border-bottom-width: 1px;
  width: 40%;
  font-size: 14px;
}
.store .store-search-wrap input:focus {
  outline: none;
}

@media screen and (min-width: 1280px) {
  .store .inner {
    padding: 20px 80px;
  }
}